<div class="container mt-5">
  <div class="row justify-content-center"></div>
    <div class="col-md-2 text-end mt-4 mb-4">
      <label for="chart_type" class="form-label">Charts:</label>
    </div>
    <div class="col-md-4"></div>
      <%= select_tag "chart_type", options_for_select(@chart_types.to_a), class: "form-select" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
          <canvas width="300" height="100" id="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    updateChart();
    fetchSalesData('line');
  });

  function updateChart(){
    $('#chart_type').on('change', function(){
      var selectedChart = $(this).val();
      fetchSalesData(selectedChart);
    });
  }

  function fetchSalesData(selectedChart){
    $.ajax({
      url: '/charts/fetch_sales_data',
      method: 'get',
      success: function(data){
        manageCharts(data, selectedChart);
      }
    });
  }

  function manageCharts(record, chartType){
    var labels = record["months"];
    var data = {
      labels: labels,
      datasets: [{
        label: 'Sales Data',
        data: record["amount"],
        fill: (chartType === 'area'),
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    };

    if(chartType === 'area'){
      chartType = 'line';
    }

    var config = {
      type: chartType,
      data: data,
    };

    var canvas = document.getElementById('chart');
    var context = canvas.getContext('2d');

    if(canvas.chart){
      canvas.chart.destroy();
    }

    var newChart = new Chart(context, config);
    canvas.chart = newChart;
  }
</script>